body
{
	text-align: center;
	height: 480px;
	width: 360px;
	background-color: #FFFFFF;
	
	overflow: auto;
}

#content
{
	background-color: #cacaca;
	
	position: fixed;
		top: 10px;
		left: 10px;
		width: 360px;
		height: 480px;
		/*bottom: 10px;
		right: 10px;*/
		
		overflow: auto;
}

#search_box
{
	background-color: #079900;
	
	height: 45px;
	text-align: center;
	
	border-radius: 2px;
	
	margin: 5px;
		margin-top: 30px;
		margin-bottom: 0px;
	
	box-shadow: 2px 3px 4px 0px #000000;

	border-style: solid;
		border-width: 0px 3px 0px 3px;
		border-color: #ffa424;
}

#input
{
	position: fixed;
		top: 50px;
		left: 30px;
	
	width: 230px;
}

#output
{
	text-align: center;
	
	margin-bottom: 5px;
}

table
{
	border-style: solid;
		border-width: 1px;
		border-collapse: collapse;
	
	margin-left: auto;
	margin-right: auto;
}

#suggestions_box
{
	margin: -5px 50px 0px 10px;
	background-color: #43c73c;
	overflow: auto;
	
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	
	min-height: 35px;
	width: 280px;
	
	position: fixed;
		top: 85px;
	
	z-index: -1;

	border-style: solid;
		border-width: 0px 3px 0px 3px;
		border-color: #ffa424;
}

.suggestion
{
	margin: 2px;
		margin-left: 10px;
		margin-right: 20px;
	padding:3px;
	list-style-type:none;
	text-align:left;
	
	font-size: 1.2em;
	
	color: #FFFFFF;
	
	border-style: solid;
		border-width: 0px 0px 1px 0px;
		border-color: #01960B;
}

.suggestion.last
{
	border-style: none;
}

.suggestion:hover
{
	cursor: pointer;
}

.results
{
	margin: 2px;
	padding:3px;
	
	list-style-type:none;
	text-align:center;
	color: #DDDDDD;
}

#submit
{
	position: fixed;
		top: 50px;
		left: 280px;
	
	width: 70px;
	height: 25px;
	
	box-shadow: 1px 2px 3px 0px #000000;
}

#submit:active
{
	box-shadow: 0px 0px 0px 0px #000000;
	cursor: pointer;
}

#submit:hover
{
	cursor: pointer;
}

#results_box
{
	margin: 5px;
	background-color: #303030;
	overflow: auto;
	border-style: solid;
		border-width: 3px;
		border-color: #FFC101;
	max-height: 89%;
}

th,td
{
	border-style: solid;
		border-width: 1px;
}

ul
{
	-webkit-padding-start: 0px;
}