body
{
	background-color: #BABABA;
	
	text-align: center;
	
	overflow: auto;
}

#content
{
	background-color: rgb(255,33,22);
	
	position: fixed;
		top: 10px;
		left: 10px;
		width: 360px;
		height: 480px;
		/*bottom: 10px;
		right: 10px;*/
	
	border-style: solid;
		border-width: 5px;
		border-color: rgb(255,193,1);

		overflow: auto;
}

#search
{
	height: 25px;
	text-align: center;
	
	border-style: solid;
		border-width: 3px;
		border-color: rgb(255,193,1);
	
	margin: 5px;
}

#output
{
	text-align: center;
}

/*#database_control
{
	position: absolute;
		bottom: 5px;
		right: 5px;
		left: 5px;
		height: 25px;
	
	text-align: center;
	
	border-style: solid;
		border-width: 3px;
		border-color: rgb(255,193,1);
}*/

table
{
	border-style: solid;
		border-width: 1px;
		border-collapse: collapse;
	
	margin-left: auto;
	margin-right: auto;
}

.suggestions
{
	margin: 2px;
	padding:3px;
	list-style-type:none;
	text-align:center;
	color: #DDDDDD;
}

.results
{
	margin: 2px;
	padding:3px;
	list-style-type:none;
	text-align:center;
	color: #DDDDDD;
}

#suggestions_box
{
	height: 150px;
	margin: 5px;
	background-color: #303030;
	overflow: auto;
	border-style: solid;
		border-top-width: 3px;
		border-bottom-width: 3px;
		border-left-width: 0px;
		border-right-width: 0px;
		border-color: rgb(255,193,1);
}

#results_box
{
	margin: 5px;
	background-color: #303030;
	overflow: auto;
	border-style: solid;
		border-width: 3px;
		border-color: rgb(255,193,1);
	max-height: 89%;
}

th,td
{
	border-style: solid;
		border-width: 1px;
}

ul
{
	-webkit-padding-start: 0px;
}