body
{
	background-color: #BABABA;
	
	overflow: auto;
}

#content
{
	background-color: rgb(255,33,22);
	
	position: fixed;
		top: 10px;
		left: 10px;
		width: 360px;
		height: 480px;
		/*bottom: 10px;
		right: 10px;*/
	
	border-style: solid;
		border-width: 5px;
		border-color: rgb(255,193,1);
}

#search
{
	height: 25px;
	text-align: center;
	
	border-style: solid;
		border-width: 3px;
		border-color: rgb(255,193,1);
	
	margin: 5px;
}

#output
{
	text-align: center;
}

/*#database_control
{
	position: absolute;
		bottom: 5px;
		right: 5px;
		left: 5px;
		height: 25px;
	
	text-align: center;
	
	border-style: solid;
		border-width: 3px;
		border-color: rgb(255,193,1);
}*/

table
{
	border-style: solid;
	border-width: 1px;
	
	margin-left: auto;
	margin-right: auto;
}