body
{
	background-color: #BABABA;
	
	text-align: center;
	
	overflow: auto;
}

#content
{
	background-color: #FF2116;
	
	position: fixed;
		top: 10px;
		left: 10px;
		width: 360px;
		height: 480px;
		/*bottom: 10px;
		right: 10px;*/
	
	border-style: solid;
		border-width: 5px;
		border-color: #FFC101;

		overflow: auto;
}

#search_box
{
	height: 25px;
	text-align: center;
	
	border-style: solid;
		border-width: 3px;
		border-color: #FFC101;
	
	border-radius: 5px;
	
	margin: 5px;
	margin-bottom: 0px;
}

#output
{
	text-align: center;
}

/*#database_control
{
	position: absolute;
		bottom: 5px;
		right: 5px;
		left: 5px;
		height: 25px;
	
	text-align: center;
	
	border-style: solid;
		border-width: 3px;
		border-color: #FFC101;
}*/

table
{
	border-style: solid;
		border-width: 1px;
		border-collapse: collapse;
	
	margin-left: auto;
	margin-right: auto;
}

.suggestion
{
	margin: 2px;
	padding:3px;
	list-style-type:none;
	text-align:center;
	
	font-size: 1.2em;
	
	color: #DDDDDD;
}

.results
{
	margin: 2px;
	padding:3px;
	list-style-type:none;
	text-align:center;
	color: #DDDDDD;
}

#suggestions_box
{
	/*height: 150px;*/
	margin: 0px 30px 0px 30px;
	background-color: #303030;
	overflow: auto;
	border-style: solid;
		border-width: 0px 3px 3px 3px;
		border-color: #FFC101;
		
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	
	min-height: 10px;
	max-height: 250px;
}

#results_box
{
	margin: 5px;
	background-color: #303030;
	overflow: auto;
	border-style: solid;
		border-width: 3px;
		border-color: #FFC101;
	max-height: 89%;
}

th,td
{
	border-style: solid;
		border-width: 1px;
}

ul
{
	-webkit-padding-start: 0px;
}